
@{
    ViewBag.Title = "TelewizoryTest";
}

@section scripts{
    <script type="text/javascript">
        $("#calendar").calendarWidget({
            month: 8,
            year: 2017
        });
    </script>
    }

    <div class="jumbotron">
<h2>TelewizoryTest</h2>
        </div>


<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
    </div>

    

</div>

